body{
background-color: #305050;
color: white;
text-align: center;
font-family: Verdana;
}

h2{
color:orange;
font-size: 40px;
}

p{
    font-size: 20px;
}

.texto-inglês{
font-style: italic;
}

#nome-usuário {
font-weight: bold;
}

@media screen and (max-width:420px){
    img{
        width: 100%;
    }
    p{
        font-size: 24px;
    }
}